.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding-top: 16px;

  img {
    height: 48px;
  }

  // & &-icon {
  //   display: block;
  //   width: 16px;
  //   height: 16px;
  //   background: url(./images/spinner.png) no-repeat;
  //   background-size: contain;
  //   animation: spin 1.5s linear 0s infinite;
  // }

  // & &-text {
  //   margin-left: 6px;
  //   font-size: 14px;
  //   line-height: 16px;
  //   color: #333;
  // }
}

// @keyframes spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }